<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>addToCarServlet</servlet-name>
		<servlet-class>com.zc.servlet.AddToCarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addToCarServlet</servlet-name>
		<url-pattern>/addToCarServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cityServlet</servlet-name>
		<servlet-class>com.zc.servlet.CityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cityServlet</servlet-name>
		<url-pattern>/cityServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.zc.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>testAjaxServlet</servlet-name>
		<servlet-class>com.zc.servlet.TestAjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testAjaxServlet</servlet-name>
		<url-pattern>/testAjaxServlet</url-pattern>
	</servlet-mapping>
</web-app>
